body {
  background-color: #e5e5e5;
  color: #3c4858;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

.App {
  text-align: center;
}

.headerContainer {
  background-image: url(./assets/welcom-idea.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border: 0;
  min-height: 70vh;
  margin: 0;
  display: flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-size: cover;
  background-position: 0px -32px;
}

.bodyContainer {
  padding: 85px 0;
  margin: -129px 45px 0px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  z-index: 3;
  position: relative;
  background: #ffffff;
  min-height: 50vh;
}
